<!DOCTYPE HTML>

<html>
    <head>
        <title>STORC</title>
        <div class = "page-header">
          <h1> Sensor Data </h1>
        </div>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        {% block content %}
      <div class="table">
        <form action="{{url_for('update')}}">
          <table>
            {% for num in sensors %}
            <tr>
              <th>{{sensors[num].name}}:</th>
              <td><input type="text" name="temp" value = {{sensors[num].reading}}></td>
            </tr>
            <!-- <tr>
              <th>Humidity: </th>
              {% for i in range(100) %}
              <td><input type="text" name="humidity" value =  ></td>
              {% endfor %}
            </tr> -->
            <!--<tr>
              <th>do: </th>
              <td><input type="text" name="do" value =  ></td>
            </tr>-->
            {% endfor %}
          </table><br><br>
          <input type="submit" value="Update">
        </form>
      </div>
      <!-- <p>This is the latest output: <span id="latest"></span></p>
<p>This is all the output:</p>
<ul id="output"></ul>
<script>
    var latest = document.getElementById('latest');
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            // build and append a new item to a list to log all output
            var item = document.createElement('li');
            item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
        }
    }, 1000);
</script> -->
        {% endblock %}
    </body>
</html>
